.palabras{
    color: rgb(255, 252, 252);
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    background-color: rgba(3, 4, 4, 0.718);
    text-align: center;
    width: 50rem;
    margin-bottom: 2rem;
}
.men{
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
    padding: 1rem 20rem 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: bolder;
}

.label{
    font-family: 'Orbitron', sans-serif;
    font-size: x-large; 
    margin-top: 2rem; 
}
.ahorcado{
    background-color: rgba(0, 0, 0, 0.495);
    width: 50rem;
    text-align: center;
    border-radius: 3%;
}
   
.muneco{
   
    display: block;
    width: 50rem;
    font-family: 'Orbitron', sans-serif;
    font-size:xx-large;

}